<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Overview" data-toc-modified-id="Overview-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Overview</a></span></li><li><span><a href="#Notebook-Configuration" data-toc-modified-id="Notebook-Configuration-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Notebook Configuration</a></span><ul class="toc-item"><li><span><a href="#Google-drive" data-toc-modified-id="Google-drive-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Google drive</a></span></li><li><span><a href="#Warning" data-toc-modified-id="Warning-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Warning</a></span></li><li><span><a href="#Matplotlib" data-toc-modified-id="Matplotlib-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Matplotlib</a></span></li><li><span><a href="#TensorFlow" data-toc-modified-id="TensorFlow-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>TensorFlow</a></span></li><li><span><a href="#Random-seed" data-toc-modified-id="Random-seed-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Random seed</a></span></li></ul></li><li><span><a href="#Data-Preprocessing" data-toc-modified-id="Data-Preprocessing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Preprocessing</a></span></li><li><span><a href="#Hyperparameter-Tuning" data-toc-modified-id="Hyperparameter-Tuning-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Hyperparameter Tuning</a></span></li><li><span><a href="#Model-Selection" data-toc-modified-id="Model-Selection-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Model Selection</a></span></li><li><span><a href="#Generating-the-Submission-File" data-toc-modified-id="Generating-the-Submission-File-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Generating the Submission File</a></span><ul class="toc-item"><li><span><a href="#Creating-the-directory-for-the-submission-file" data-toc-modified-id="Creating-the-directory-for-the-submission-file-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Creating the directory for the submission file</a></span></li><li><span><a href="#Generating-the-submission-file" data-toc-modified-id="Generating-the-submission-file-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Generating the submission file</a></span></li></ul></li></ul></div>

# Notebook Configuration

## Google drive

In [ ]:
from google.colab import drive
import sys

# Mount Google Drive
drive.mount('/content/drive')

# Get the absolute path of the current folder
abspath_curr = '/content/drive/My Drive/Poker_Rules/'

# Get the absolute path of the shallow utilities folder
abspath_util_shallow = '/content/drive/My Drive/ColabNotebooks'

# Get the absolute path of the shallow models folder
abspath_model_shallow = '/content/drive/My Drive/ColabNotebooks'

Mounted at /content/drive

## Warning

In [ ]:
import warnings

# Ignore warnings
warnings.filterwarnings('ignore')

## Matplotlib

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline 

# Set matplotlib sizes
plt.rc('font', size=20)
plt.rc('axes', titlesize=20)
plt.rc('axes', labelsize=20)
plt.rc('xtick', labelsize=20)
plt.rc('ytick', labelsize=20)
plt.rc('legend', fontsize=20)
plt.rc('figure', titlesize=20)

## TensorFlow

In [ ]:
# The magic below allows us to use tensorflow version 2.x
%tensorflow_version 2.x 
import tensorflow as tf
from tensorflow import keras

## Random seed

In [ ]:
# The random seed
random_seed = 42

# Set random seed in tensorflow
tf.random.set_seed(random_seed)

# Set random seed in numpy
import numpy as np
np.random.seed(random_seed)

# Data Preprocessing

In [ ]:
# Change working directory to the absolute path of the shallow utilities folder
%cd $abspath_util_shallow

# Import the shallow utitilities
%run pmlm_utilities_shallow.ipynb

/content/drive/My Drive/ColabNotebooks

## **Loading the data**

In [ ]:
import pandas as pd

# Load the raw training data 
df_raw_train = pd.read_csv('/content/drive/My Drive/ColabNotebooks/Poker_train.csv', header=0)

# Make a copy of df_raw_train
df_train = df_raw_train.copy(deep=True)

# Load the raw test data
df_raw_test = pd.read_csv('/content/drive/My Drive/ColabNotebooks/Poker_test.csv', header=0)

# Make a copy of df_raw_test
df_test = df_raw_test.copy(deep=True)

# Get the name of the target
target = 'hand'

In [ ]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   25010         11

In [ ]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

    # rows  # columns
0  1000000         11

In [ ]:
# Print the first 5 rows of df_train
df_train.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   4   9   2   1   2   2   4   7   2   8     0
1   1   4   3   6   1  12   3  11   2   7     0
2   1  11   4   1   3   7   4  11   2   1     2
3   2   9   2   4   3   6   1   9   4   9     3
4   1   8   2   4   2  11   2   2   2   1     0

In [ ]:
# Print the first 5 rows of df_test
df_test.head()

   id  S1  C1  S2  C2  S3  C3  S4  C4  S5  C5
0   1   1  10   2   2   3   3   3   8   1   1
1   2   2  13   3   5   3   7   4   6   1   4
2   3   1   3   1  11   2   8   2   1   2   4
3   4   1   6   3   3   4   7   1   8   3  11
4   5   2  10   3   4   1   6   2  12   2   6

## **Splitting the data**

In [ ]:
from sklearn.model_selection import train_test_split

# Divide the training data into training (80%) and validation (20%)
df_train, df_val = train_test_split(df_train, train_size=0.8, random_state=random_seed)

# Reset the index
df_train, df_val = df_train.reset_index(drop=True), df_val.reset_index(drop=True)

In [ ]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   20008         11

In [ ]:
# Print the dimension of df_val
pd.DataFrame([[df_val.shape[0], df_val.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0    5002         11

## **Handling uncommon features**

In [ ]:
# Call common_var_checker
# See the implementation in pmlm_utilities.ipynb
df_common_var = common_var_checker(df_train, df_val, df_test, target)

# Print df_common_var
df_common_var

   common var
0          C1
1          C2
2          C3
3          C4
4          C5
5          S1
6          S2
7          S3
8          S4
9          S5
10       hand

In [ ]:
# Get the features in the training data but not in the validation or test data
uncommon_feature_train_not_val_test = np.setdiff1d(df_train.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_train_not_val_test, columns=['uncommon feature'])

Empty DataFrame
Columns: [uncommon feature]
Index: []

In [ ]:
# Get the features in the validation data but not in the training or test data
uncommon_feature_val_not_train_test = np.setdiff1d(df_val.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_val_not_train_test, columns=['uncommon feature'])

Empty DataFrame
Columns: [uncommon feature]
Index: []

In [ ]:
# Get the features in the test data but not in the training or validation data
uncommon_feature_test_not_train_val = np.setdiff1d(df_test.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_test_not_train_val, columns=['uncommon feature'])

  uncommon feature
0               id

In [ ]:
# Remove the uncommon features from the training data
df_train = df_train.drop(columns=uncommon_feature_train_not_val_test)

# Print the first 5 rows of df_train
df_train.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   1   2   2   4   4   3   3   5   1  10     0
1   1  10   4   5   4   1   4   9   4  10     1
2   1   7   2  11   1   5   3  12   4   5     1
3   2  12   1   8   4  13   4   3   1   4     0
4   2   5   3  13   2   7   3  12   1   4     0

In [ ]:
# Remove the uncommon features from the validation data
df_val = df_val.drop(columns=uncommon_feature_val_not_train_test)

# Print the first 5 rows of df_val
df_val.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   3   4   3   8   3   2   1   3   3   7     0
1   4  13   2   7   4   3   3  13   2   1     1
2   4  10   2  12   2   9   2   5   1  11     0
3   2   8   4   8   3   9   4   7   4   5     1
4   1  11   4   9   1   2   2   1   4   3     0

In [ ]:
# Remove the uncommon features from the test data
df_test = df_test.drop(columns=uncommon_feature_test_not_train_val)

# Print the first 5 rows of df_test
df_test.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5
0   1  10   2   2   3   3   3   8   1   1
1   2  13   3   5   3   7   4   6   1   4
2   1   3   1  11   2   8   2   1   2   4
3   1   6   3   3   4   7   1   8   3  11
4   2  10   3   4   1   6   2  12   2   6

## **Handling identifiers**

In [ ]:
# Combine df_train, df_val and df_test
df = pd.concat([df_train, df_val, df_test], sort=False)

In [ ]:
# Call id_checker on df
# See the implementation in pmlm_utilities.ipynb
df_id = id_checker(df)

# Print the first 5 rows of df_id
df_id.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [ ]:
import numpy as np

# Remove identifiers from df_train
df_train.drop(columns=np.intersect1d(df_id.columns, df_train.columns), inplace=True)

# Remove identifiers from df_val
df_val.drop(columns=np.intersect1d(df_id.columns, df_val.columns), inplace=True)

# Remove identifiers from df_test
df_test.drop(columns=np.intersect1d(df_id.columns, df_test.columns), inplace=True)

In [ ]:
# Print the first 5 rows of df_train
df_train.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   1   2   2   4   4   3   3   5   1  10     0
1   1  10   4   5   4   1   4   9   4  10     1
2   1   7   2  11   1   5   3  12   4   5     1
3   2  12   1   8   4  13   4   3   1   4     0
4   2   5   3  13   2   7   3  12   1   4     0

In [ ]:
# Print the first 5 rows of df_val
df_val.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   3   4   3   8   3   2   1   3   3   7     0
1   4  13   2   7   4   3   3  13   2   1     1
2   4  10   2  12   2   9   2   5   1  11     0
3   2   8   4   8   3   9   4   7   4   5     1
4   1  11   4   9   1   2   2   1   4   3     0

In [ ]:
# Print the first 5 rows of df_test
df_test.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5
0   1  10   2   2   3   3   3   8   1   1
1   2  13   3   5   3   7   4   6   1   4
2   1   3   1  11   2   8   2   1   2   4
3   1   6   3   3   4   7   1   8   3  11
4   2  10   3   4   1   6   2  12   2   6

## **Handling date time variables**

In [ ]:
# Get the date time variables
datetime_vars = []

In [ ]:
# Call datetime_transformer on df_train
# See the implementation in pmlm_utilities.ipynb
df_train = datetime_transformer(df_train, datetime_vars)

# Print the first 5 rows of df_train
df_train.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   1   2   2   4   4   3   3   5   1  10     0
1   1  10   4   5   4   1   4   9   4  10     1
2   1   7   2  11   1   5   3  12   4   5     1
3   2  12   1   8   4  13   4   3   1   4     0
4   2   5   3  13   2   7   3  12   1   4     0

In [ ]:
# Call datetime_transformer on df_val
# See the implementation in pmlm_utilities.ipynb
df_val = datetime_transformer(df_val, datetime_vars)

# Print the first 5 rows of df_val
df_val.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   3   4   3   8   3   2   1   3   3   7     0
1   4  13   2   7   4   3   3  13   2   1     1
2   4  10   2  12   2   9   2   5   1  11     0
3   2   8   4   8   3   9   4   7   4   5     1
4   1  11   4   9   1   2   2   1   4   3     0

In [ ]:
# Call datetime_transformer on df_test
# See the implementation in pmlm_utilities.ipynb
df_test = datetime_transformer(df_test, datetime_vars)

# Print the first 5 rows of df_test
df_test.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5
0   1  10   2   2   3   3   3   8   1   1
1   2  13   3   5   3   7   4   6   1   4
2   1   3   1  11   2   8   2   1   2   4
3   1   6   3   3   4   7   1   8   3  11
4   2  10   3   4   1   6   2  12   2   6

## **Handling missing data**

In [ ]:
# Combine df_train, df_val and df_test
df = pd.concat([df_train, df_val, df_test], sort=False)

In [ ]:
# Call nan_checker on df
# See the implementation in pmlm_utilities.ipynb
df_nan = nan_checker(df)

# Print df_nan
df_nan

    var  proportion    dtype
0  hand      0.9756  float64

In [ ]:
# Print the unique data type of variables with NaN
pd.DataFrame(df_nan['dtype'].unique(), columns=['dtype'])

     dtype
0  float64

In [ ]:
# Get the variables with missing values, their proportion of missing values and data type
df_miss = df_nan[df_nan['dtype'] == 'float64'].reset_index(drop=True)

# Print df_miss
df_miss

    var  proportion    dtype
0  hand      0.9756  float64

In [ ]:
# Separating the training data
df_train = df.iloc[:df_train.shape[0], :]

# Separating the validation data
df_val = df.iloc[df_train.shape[0]:df_train.shape[0] + df_val.shape[0], :]

# Separating the test data
df_test = df.iloc[df_train.shape[0] + df_val.shape[0]:, :]

In [ ]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   20008         11

In [ ]:
# Print the dimension of df_val
pd.DataFrame([[df_val.shape[0], df_val.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0    5002         11

In [ ]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

    # rows  # columns
0  1000000         11

In [ ]:
from sklearn.impute import SimpleImputer

# If there are missing values
if len(df_miss['var']) > 0:
    # The SimpleImputer
    si = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

    # Impute the variables with missing values in df_train, df_val and df_test 
    df_train[df_miss['var']] = si.fit_transform(df_train[df_miss['var']])
    df_val[df_miss['var']] = si.transform(df_val[df_miss['var']])
    df_test[df_miss['var']] = si.transform(df_test[df_miss['var']])

## **Encoding the data**

In [ ]:
# Combine df_train, df_val and df_test
df = pd.concat([df_train, df_val, df_test], sort=False)

# Print the unique data type of variables in df
pd.DataFrame(df.dtypes.unique(), columns=['dtype'])

     dtype
0    int64
1  float64

In [ ]:
# Call cat_var_checker on df
# See the implementation in pmlm_utilities.ipynb
df_cat = cat_var_checker(df)

# Print the dataframe
df_cat

Empty DataFrame
Columns: [var, nunique]
Index: []

In [ ]:
# One-hot-encode the categorical features in the combined data
df = pd.get_dummies(df, columns=np.setdiff1d(df_cat['var'], [target]))

# Print the first 5 rows of df
df.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   1   2   2   4   4   3   3   5   1  10   0.0
1   1  10   4   5   4   1   4   9   4  10   1.0
2   1   7   2  11   1   5   3  12   4   5   1.0
3   2  12   1   8   4  13   4   3   1   4   0.0
4   2   5   3  13   2   7   3  12   1   4   0.0

In [ ]:
from sklearn.preprocessing import LabelEncoder

# The LabelEncoder
le = LabelEncoder()

# Encode categorical target in the combined data
df[target] = le.fit_transform(df[target])

# Print the first 5 rows of df
df.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   1   2   2   4   4   3   3   5   1  10     0
1   1  10   4   5   4   1   4   9   4  10     1
2   1   7   2  11   1   5   3  12   4   5     1
3   2  12   1   8   4  13   4   3   1   4     0
4   2   5   3  13   2   7   3  12   1   4     0

In [ ]:
# Separating the training data
df_train = df.iloc[:df_train.shape[0], :]

# Separating the validation data
df_val = df.iloc[df_train.shape[0]:df_train.shape[0] + df_val.shape[0], :]

# Separating the test data
df_test = df.iloc[df_train.shape[0] + df_val.shape[0]:, :]

In [ ]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   20008         11

In [ ]:
# Print the dimension of df_val
pd.DataFrame([[df_val.shape[0], df_val.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0    5002         11

In [ ]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

    # rows  # columns
0  1000000         11

## **Splitting the feature and target**

In [ ]:
# Get the feature matrix
X_train = df_train[np.setdiff1d(df_train.columns, [target])].values
X_val = df_val[np.setdiff1d(df_val.columns, [target])].values
X_test = df_test[np.setdiff1d(df_test.columns, [target])].values

# Get the target vector
y_train = df_train[target].values
y_val = df_val[target].values
y_test = df_test[target].values

## **Scaling the data**

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# The MinMaxScaler
mms = MinMaxScaler()

In [ ]:
# Normalize the training data
X_train = mms.fit_transform(X_train)

# Normalize the validation data
X_val = mms.transform(X_val)

# Normalize the test data
X_test = mms.transform(X_test)

# Hyperparameter Tuning

## **Creating the dictionary of the models**

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier

models = {'lr': LogisticRegression(class_weight='balanced', random_state=random_seed),
          'mlpc': MLPClassifier(early_stopping=True, random_state=random_seed)}

## **Creating the dictionary of the pipelines**

In [ ]:
from sklearn.pipeline import Pipeline

pipes = {}

for acronym, model in models.items():
    pipes[acronym] = Pipeline([('model', model)])

## **Getting the predefined split cross-validator**

In [ ]:
# Get the:
# feature matrix and target velctor in the combined training and validation data
# target vector in the combined training and validation data
# PredefinedSplit
# See the implementation in pmlm_utilities.ipynb
X_train_val, y_train_val, ps = get_train_val_ps(X_train, y_train, X_val, y_val)

## **GridSearchCV**

In [ ]:
param_grids = {}

In [ ]:
# The parameter grid of tol
tol_grid = [10 ** -5, 10 ** -4, 10 ** -3]

# The parameter grid of C
C_grid = [0.1, 1, 10]

# Update param_grids
param_grids['lr'] = [{'model__tol': tol_grid,
                      'model__C': C_grid}]

In [ ]:
# The grids for alpha
alpha_grids = [10 ** i for i in range(-6, -2)]

# The grids for learning_rate_init
learning_rate_init_grids = [10 ** i for i in range(-4, -1)]

# Update param_grids
param_grids['mlpc'] = [{'model__alpha': alpha_grids,
                        'model__learning_rate_init': learning_rate_init_grids}]

In [ ]:
# Make directory
directory = os.path.dirname(abspath_curr + '/result/mnist/cv_results/GridSearchCV/')
if not os.path.exists(directory):
    os.makedirs(directory)

In [ ]:
from sklearn.model_selection import GridSearchCV

# The list of [best_score_, best_params_, best_estimator_] obtained by GridSearchCV
best_score_params_estimator_gs = []

# For each model
for acronym in pipes.keys():
    # GridSearchCV
    gs = GridSearchCV(estimator=pipes[acronym],
                      param_grid=param_grids[acronym],
                      scoring='f1_macro',
                      n_jobs=2,
                      cv=ps,
                      return_train_score=True)
        
    # Fit the pipeline
    gs = gs.fit(X_train_val, y_train_val)
    
    # Update best_score_params_estimator_gs
    best_score_params_estimator_gs.append([gs.best_score_, gs.best_params_, gs.best_estimator_])
    
    # Sort cv_results in ascending order of 'rank_test_score' and 'std_test_score'
    cv_results = pd.DataFrame.from_dict(gs.cv_results_).sort_values(by=['rank_test_score', 'std_test_score'])
    
    # Get the important columns in cv_results
    important_columns = ['rank_test_score',
                         'mean_test_score', 
                         'std_test_score', 
                         'mean_train_score', 
                         'std_train_score',
                         'mean_fit_time', 
                         'std_fit_time',                        
                         'mean_score_time', 
                         'std_score_time']
    
    # Move the important columns ahead
    cv_results = cv_results[important_columns + sorted(list(set(cv_results.columns) - set(important_columns)))]

    # Write cv_results file
    #cv_results.to_csv(path_or_buf=abspath_curr + '/result/mt/cv_results/GridSearchCV/' + acronym + '.csv', index=False)

# Sort best_score_params_estimator_gs in descending order of the best_score_
best_score_params_estimator_gs = sorted(best_score_params_estimator_gs, key=lambda x : x[0], reverse=True)

# Print best_score_params_estimator_gs
pd.DataFrame(best_score_params_estimator_gs, columns=['best_score', 'best_param', 'best_estimator'])

   best_score  ...                                     best_estimator
0    0.138988  ...  (MLPClassifier(activation='relu', alpha=1e-06,...
1    0.018661  ...  (LogisticRegression(C=10, class_weight='balanc...

[2 rows x 3 columns]

# References

https://github.com/yuxiaohuang/teaching/tree/master/gwu/machine_learning_I/spring_2021